$light-blue: #009EB4 !default;
$dark-blue: #00377A !default;
$white: #FFFFFF !default;

.swiper-slide {
    fieldset {
        padding: 0;
    }
}

//
// "bullet"-Navigation
//
.swiper-pagination-bullet {
    opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
    color: $white;
    background: $dark-blue;
}

//
// Vor- und Zurück-Pfeile
//
.swiper-button-prev,
.swiper-button-next {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background: none;
    color: $light-blue;

    i.fas {
        display: block;
    }
}
.swiper-button-prev {
    left: 0.2rem;
    transform: translateY(-50%);

    &:after {
        display: none;
    }
}
.swiper-button-next {
    right: 0.3rem;
    transform: translateY(-50%);

    &:after {
        display: none;
    }
}